{%extends 'base.html'%}
{% import 'macros.html' as macro%}

{%block title%}
LOGIN
{%endblock%}

{%block content%}

<body class="container-fluid" style="background:#D6C7C7"></body>
<form action="{{url_for('main.login')}}" , method="POST" class="container">
    <div style="margin-left:20%;margin-right:20%;">
        <h1> LOGIN</h1>

        {{macro.displayField(form.username, 'Username', autocomplete='off', autofocus=true)}}
        {{macro.displayField(form.password, 'Password')}}

        <div>
            {{form.submit_button}}
        </div>

        {{form.csrf_token}}
    </div>
</form>
</body>
{%endblock%}